// out: ../css/builder-styles.css, compress: false, strictMath: true, sourceMap: true
@import "variables.less";
@import "builder-variables.less";

body,
html {
  height: 100%;
  position: relative;
}
iframe {
  overflow-y: scroll;
  float: left;
  height: 100%;
  width: 100%;
  margin-bottom: 34px;
//  margin-top: 50px;
}
.navbar {
  margin-bottom: 0;
}
.application {
  height: 100%;
  width: calc(100% - 232px);
  min-width: 320px;
  padding: 0px;
  margin: 50px 0 0 0;
  background: #ffffff;
  overflow: auto;
}
.tool-panel {
  width: 232px;
  float: right;
  height: 100%;
  padding: 0;
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c3c3c3;
  overflow: scroll;
}
footer {
  background: black;
  color: #9d9d9d;
  font-size:10px;
  padding:10px
}

