




{% if subsection.grouper %}
  <!-- SUBSECTION Inner Panel -->
  <div class="panel panel-default panel-inner">
    <!-- Panel Heading -->
    <div class="panel-heading">
      <a data-toggle="collapse" href="#collapse-{{ section.grouper }}">
        <h4 class="panel-title">{{ subsection.grouper }} <span class="caret"></span></h4>
      </a>
    </div>
{% endif %}
{% for var in subsection.list %}
<!--
    <div id="collapse-{{ var.name }}" class="panel-collapse collapse in">
    </div>
-->
  <div id="<%= variable.name %>" class="panel-body variable-display">
    <div class="form-group">
      <label for="input-@{{ var.name }}">@{{ var.name }}</label>
      <input class="form-control" id="input-@{{ var.name }}" aria-describedby="help-block-@{{ var.var_name }}" value="{{ var.output }}" data-var="@{{ var.name }}">
      <p class="help-block" id="help-block-@{{ var.name }}">{{ var.message }}</p>
    </div>
  </div>
{% endfor %}

<!-- only use subsection if there is a subsection value -->
{% if subsection.grouper %}
  </div>
{% endif %}






