<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Containers</h1>
  </div>

  <div class="col-sm-12">
    <h2 class="page-header" id="carousel">Carousel</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="jumbotron">Jumbotron</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="list-groups">List Groups</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="panels">Panels</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="wells">Wells</h2> 
  </div>
</div>