<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Core Variables</h1>
    <h2 class="page-header" id="colors">Colors</h2> 
    <h3 id="brand-colors">Brand Colors</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch brand-primary"></div>
    <label>Primary</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch brand-success"></div>
    <label>Success</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch brand-info"></div>
    <label>Info</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch brand-warning"></div>
    <label>Warning</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch brand-danger"></div>
    <label>Danger</label>
  </div>
  <div class="clearfix visible-sm visible-md visible-lg"></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3 id="grays">Grays</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch gray-base"></div>
    <label>Base</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch gray-darker"></div>
    <label>Darker</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch gray-dark"></div>
    <label>Dark</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch gray"></div>
    <label>Gray</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch gray-light"></div>
    <label>Light</label>
  </div>
  <div class="col-sm-2 col-xs-4">
    <div class="color-swatch gray-lighter"></div>
    <label>Lighter</label>
  </div>
  <div class="clearfix visible-sm visible-md visible-lg"></div>
</div> 

<div class="row">
  <div class="col-sm-6">
    <h3 id="scaffolding-colors">Scaffolding</h3>
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <div class="color-swatch body-bg"></div>
        <label>Body Background</label>
      </div>
      <div class="col-sm-4 col-xs-4">
        <div class="color-swatch text-color"></div>
        <label>Text Color</label>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <h3>Links</h3>
    <a class="btn btn-lg btn-link custom-link custom-underline">Link</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2 class="page-header" id="font-families">Typography</h2> 
  </div>
  <div class="col-sm-6">
    <h3>Sans Serif Font Family</h3>
    <p class="font-family-sans-serif">This is a block of type using the sans serif font family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</label>
  </div>
  <div class="col-sm-6">
    <h3>Serif Font Family</h3>
    <p class="font-family-serif">This is a block of type using the serif font family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</label>
  </div>
  <div class="clearfix visible-sm visible-md visible-lg"></div>
  <div class="col-sm-6">
    <h3>Monospace Font Family</h3>
    <p class="font-family-monospace">This is a block of type using the monospace font family. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</label>
  </div>
  <div class="col-sm-6">
    <h3>Base Font Family</h3>
    <p class="font-family-base">This is a block of type using the base family. This font family is used as the base font for the whole theme. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</label>
  </div>
  <div class="clearfix visible-sm visible-md visible-lg"></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Line Heights</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="comment">Small Line Height</label>
      <textarea class="form-control input-sm" rows="5" id="input-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat.</textarea>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="comment">Large Line Height</label>
      <textarea class="form-control input-lg" rows="5" id="input-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus.</textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Components &amp; Font Sizes</h3>
    <button type="button" class="btn btn-default btn-xs">XS Button</button>
    <button type="button" class="btn btn-default btn-sm">Small Button</button>
    <button type="button" class="btn btn-default">Default Button</button>
    <button type="button" class="btn btn-default btn-lg">Large Button</button>
  </div>
</div> 

<div class="row">
  <div class="col-sm-12" id="fonts">
    <h2 class="page-header" id="headings">Headings</h2>
  </div>
  <div class="col-sm-12">
    <h1>Heading Level 1 <small>with small text</small></h1>
    <p class='lead'><strong>Lead Paragraph. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus.</p>
  </div>
  <div class="col-sm-12">
    <h2>Heading Level 2 <small>with small text</small></h2>

    <p><strong>Paragraph. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus.</p>
  </div>
  <div class="col-sm-12">
    <h3>Heading Level 3 <small>with small text</small></h3>

    <p><strong>Paragraph. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus.</p>
  </div>
  <div class="col-sm-12">
    <h4>Heading Level 4 <small>with small text</small></h4>

    <p><strong>Paragraph. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus.</p>
  </div>
  <div class="col-sm-12">
    <h5>Heading Level 5 <small>with small text</small></h5>

    <p><strong>Paragraph. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus.</p>
  </div>
  <div class="col-sm-12">
    <h6>Heading Level 6 <small>with small text</small></h6>

    <p class='small'><strong>Small Paragraph. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus. Mauris pulvinar, libero vitae ultricies dictum, justo justo tristique metus, quis tincidunt dolor orci in sem. Quisque id lacus sit amet ex faucibus ultricies ac ac urna. Nulla vel erat lacus.</p>
  </div>
  <div class="col-sm-12">
    
  </div>
  
</div>




