<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Indicators</h1>
  </div>

  <div class="col-sm-12">
    <h2 class="page-header" id="alerts">Alerts</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="badges">Badges</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="form-states">Form States</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="labels">Labels</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="progress-bars">Progress Bars</h2> 
  </div>
</div>