<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Navigation</h1>
  </div>

  <div class="col-sm-12">
    <h2 class="page-header" id="buttons">Breadcrumbs</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="nav-links">Nav Links</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="navbar">Navbar</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="pager">Pager</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="pagination">Pagination</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="pills">Pills</h2> 
  </div>
  
  <div class="col-sm-12">
    <h2 class="page-header" id="tabs">Tabs</h2> 
  </div>
</div>