/*
 * 
 *  Bootstrap's global default font-size is 14px, with a line-height of 1.428.
 *  This is applied to the <body> and all paragraphs.
 *  In addition, all <p> elements have a bottom margin that equals half their computed line-height (10px by default).
 * 
*/

.builder { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 14px; 
  line-height: 1.428571429; 
  color: #333333; 
  background-color: white; 
  
/*  @import 'bootstrap'; */
}


