{% extends "private.html" %}

{% set theme = "false" %}

{% block title %}
    Builder - About
{% endblock %}

{% block main %}
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-12">
        <h1>About Bootstrap Theme Builder</h1>
        <p class="lead">This project is a Minimum Viable Product (MVP) that tests the concept of a visually-oriented tool for the configuration of Bootstrap themes. The primary user story for effectively testing the concept is:</p>
        <blockquote>
          <p>As a designer, I want to configure Bootstrap visually because that is how I think about design patterns.</p>
        </blockquote>
        <p class="lead">Additional user stories that support user testing of the proof of concept include:</p>
        <blockquote>
          <p>As a potential user, I want to register so I can try out the theme builder.</p>
          <p>As a user, I want to save my themes so I can use them later.</p>
          <p>As a user, I want to load themes in my library so I can continue to iterate on my design.</p>
        </blockquote>
      </div>
      
      <div class="col-sm-4">
        <h2>Application</h2>
        <ul>
          <li>Flask Python Microframework</li>
          <li>Jinja2 Templating Engine</li>
          <li>SQLite3 Database Engine</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h2>Presentation</h2>
        <ul>
          <li>HTML5/CSS3/JavaScript</li>
          <li>Bootstrap</li>
          <li>JQuery</li>
          <li>LESS.js</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h2>Server</h2>
        <ul>
          <li>Amazon Web Services (AWS) EC2 Linux</li>
          <li>NGINX Proxy Server</li>
          <li>Gunicorn WSGI Server</li>
        </ul>
      </div>
      
  </div>
{% endblock %}
