{% extends "private.html" %}

{% block title %}
    Builder - Theme
{% endblock %}

{% block main %}
  <div class="application">
    <!--  iframe containing layout page -->
    <iframe src="{{ iframe }}" id="layout">
      <p>Your browser does not support iframes.</p>
    </iframe>

    <!--  tool panel -->
    <form id="config-panel" >
      
      <button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#category-select" aria-expanded="false" aria-controls="category-select">
        <h4 class="category-select-title">{{ category }} <span class="caret"></span></h4>
      </button>
      
      <div id="category-select" class="collapse" >
        <div class="list-group">
          <a class="list-group-item" href="#" data-value="core">Core</a>
          <a class="list-group-item" href="#" data-value="layout">Layout</a>
          <a class="list-group-item" href="#" data-value="elements">Elements</a>
          <a class="list-group-item" href="#" data-value="tables">Tables &amp; Forms</a>
          <a class="list-group-item" href="#" data-value="navigation">Navigation</a>
          <a class="list-group-item" href="#" data-value="indicators">Indicators</a>
          <a class="list-group-item" href="#" data-value="containers">Containers</a>
          <a class="list-group-item" href="#" data-value="dialogs">Dialogs</a>
          <a class="list-group-item" href="#" data-value="configuration">Configuration</a>
        </div>
      </div>

      <div id="config-vars">
        
        {% for section in vars|selectattr("category", "equalto", category)|groupby('section') %}

          <div class="panel panel-default panel-outer">
            <div class="panel-heading" data-toggle="collapse" href="#collapse-{{ section.grouper }}">
              <h4 class="panel-title">{{ section.grouper }} <span class="caret"></span></h4>
            </div>
            <div id="collapse-{{ section.grouper }}" class="panel-collapse collapse">
              {% for subsection in section.list|selectattr("section", "equalto", section.grouper)|groupby('subsection') %}
                <div class="panel-body">

                  {% if subsection.grouper %}
                    <div class="panel panel-default panel-inner">
                      <div class="panel-heading" data-toggle="collapse" href="#collapse-{{ subsection.grouper }}">
                        <h4 class="panel-title">
                          {{ subsection.grouper }} <span class="caret"></span>
                        </h4>
                      </div>
                      <div id="collapse-{{ subsection.grouper }}" class="panel-collapse collapse">
                  {% endif %}

                  {% for var in subsection.list %}
                    <div id="{{ var.name }}" class="panel-body variable-display">
                      <div class="form-group">
                        <a tabindex="0" role="button" class="help-icon" data-toggle="popover" data-trigger="focus" title="@variable" data-content="{{ var.message }}" data-placement="left"><span class='glyphicon glyphicon-question-sign'></span></a>
                        <label for="input-@{{ var.name }}">@{{ var.name }}</label>
                        <input type="text" class="form-control" id="input-@{{ var.name }}" name="input-@{{ var.name }}" aria-describedby="help-block-@{{ var.var_name }}" value="{{ var.output }}" data-var="@{{ var.name }}">
                      </div>
                    </div>
                  {% endfor %}

                  {% if subsection.grouper %}
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </form>
  </div>
{% endblock %}
