<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--  default bootstrap theme for UI-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">
  
  <!--  custom bootstrap elements for builder UI-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/builder-styles.css') }}" type="text/css">

<!--
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/builder-styles.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-slider.css">
    <link href="/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
-->

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container application clearfix">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#builderNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
              </button>
              <a class="navbar-brand" href="#">BUILDER</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('export') }}">Export</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
          </div>
      </nav>
      </div>
    </nav>

    {% if get_flashed_messages() %}
      <header>
        <div class="alert alert-info" role="alert">
          {{ get_flashed_messages() | join(" ") }}
        </div>
      </header>
    {% endif %}

    {% block main %}
      <!-- MOVE CONTENT TO MAIN BLOCK FOR TEMPLATES-->
    {% endblock %}
    
    <footer class="navbar-fixed-bottom">
      &copy; Patrick Liddy 2017
    </footer>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
