{% extends "application.html" %}

{% block title %}
    Bootstrap Theme Builder
{% endblock %}

{% block main %}

  <div class="application panel panel-default has-inner-drawer">
    <div class="layout">
      <h1>Bootstrap Less Variables</h1>
      <h2>Category</h2>
      <h3>Section</h3>
      <h4>Subsection</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus. Mauris pulvinar, libero vitae ultricies dictum, justo justo tristique metus, quis tincidunt dolor orci in sem. Quisque id lacus sit amet ex faucibus ultricies ac ac urna. Nulla vel erat lacus.</p>

      <p>Vivamus non porttitor augue. Cras molestie nunc ante, sed condimentum massa pretium id. Vestibulum et dolor non justo tristique sodales in varius velit. Praesent nec dignissim ligula. Pellentesque non urna in nunc porta pellentesque eu sed tellus. Suspendisse molestie nunc at suscipit imperdiet. Etiam ut tincidunt purus. Proin maximus, lacus a iaculis aliquam, quam lectus fermentum ante, in dignissim arcu dui eu nulla. Sed sit amet accumsan tortor, sit amet efficitur ipsum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus. Mauris pulvinar, libero vitae ultricies dictum, justo justo tristique metus, quis tincidunt dolor orci in sem. Quisque id lacus sit amet ex faucibus ultricies ac ac urna. Nulla vel erat lacus.</p>

      <p>Vivamus non porttitor augue. Cras molestie nunc ante, sed condimentum massa pretium id. Vestibulum et dolor non justo tristique sodales in varius velit. Praesent nec dignissim ligula. Pellentesque non urna in nunc porta pellentesque eu sed tellus. Suspendisse molestie nunc at suscipit imperdiet. Etiam ut tincidunt purus. Proin maximus, lacus a iaculis aliquam, quam lectus fermentum ante, in dignissim arcu dui eu nulla. Sed sit amet accumsan tortor, sit amet efficitur ipsum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus. Mauris pulvinar, libero vitae ultricies dictum, justo justo tristique metus, quis tincidunt dolor orci in sem. Quisque id lacus sit amet ex faucibus ultricies ac ac urna. Nulla vel erat lacus.</p>

      <p>Vivamus non porttitor augue. Cras molestie nunc ante, sed condimentum massa pretium id. Vestibulum et dolor non justo tristique sodales in varius velit. Praesent nec dignissim ligula. Pellentesque non urna in nunc porta pellentesque eu sed tellus. Suspendisse molestie nunc at suscipit imperdiet. Etiam ut tincidunt purus. Proin maximus, lacus a iaculis aliquam, quam lectus fermentum ante, in dignissim arcu dui eu nulla. Sed sit amet accumsan tortor, sit amet efficitur ipsum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus. Mauris pulvinar, libero vitae ultricies dictum, justo justo tristique metus, quis tincidunt dolor orci in sem. Quisque id lacus sit amet ex faucibus ultricies ac ac urna. Nulla vel erat lacus.</p>

      <p>Vivamus non porttitor augue. Cras molestie nunc ante, sed condimentum massa pretium id. Vestibulum et dolor non justo tristique sodales in varius velit. Praesent nec dignissim ligula. Pellentesque non urna in nunc porta pellentesque eu sed tellus. Suspendisse molestie nunc at suscipit imperdiet. Etiam ut tincidunt purus. Proin maximus, lacus a iaculis aliquam, quam lectus fermentum ante, in dignissim arcu dui eu nulla. Sed sit amet accumsan tortor, sit amet efficitur ipsum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor non erat auctor venenatis. Duis eu urna ac enim ullamcorper porta. Suspendisse sagittis nisl sem, id elementum arcu volutpat imperdiet. Integer tellus turpis, fermentum ut nisl eu, consectetur eleifend tellus. Aliquam erat volutpat. Nam a leo eget urna efficitur posuere. Morbi eget ullamcorper lorem. In in vulputate lorem. Nam suscipit, quam et mollis tincidunt, diam sapien porttitor risus, vel tristique turpis sapien et metus. Mauris pulvinar, libero vitae ultricies dictum, justo justo tristique metus, quis tincidunt dolor orci in sem. Quisque id lacus sit amet ex faucibus ultricies ac ac urna. Nulla vel erat lacus.</p>

      <p>Vivamus non porttitor augue. Cras molestie nunc ante, sed condimentum massa pretium id. Vestibulum et dolor non justo tristique sodales in varius velit. Praesent nec dignissim ligula. Pellentesque non urna in nunc porta pellentesque eu sed tellus. Suspendisse molestie nunc at suscipit imperdiet. Etiam ut tincidunt purus. Proin maximus, lacus a iaculis aliquam, quam lectus fermentum ante, in dignissim arcu dui eu nulla. Sed sit amet accumsan tortor, sit amet efficitur ipsum.</p>
    </div>

    <div id="config-drawer" class="drawer drawer-inside drawer-right dw-xs-3 open" aria-labelledby="config-drawer">
<!--
      <div class="drawer-controls">
          <a href="#config-drawer" data-toggle="drawer" href="#config-drawer" aria-foldedopen="false" aria-controls="config-drawer" class="btn btn-primary btn-sm">Menu</a>
      </div>
-->
      <div class="drawer-contents">
        <div id="config-panel">
          <h4 class="category-title">{{ category }}</h4>

          {% for section in vars|selectattr("category", "equalto", category)|groupby('section') %}

          <div class="panel panel-default panel-outer">
            <div class="panel-heading" data-toggle="collapse" href="#collapse-{{ section.grouper }}">
              <h4 class="panel-title">{{ section.grouper }} <span class="caret"></span></h4>
            </div>
            <div id="collapse-{{ section.grouper }}" class="panel-collapse collapse">
              {% for subsection in section.list|selectattr("section", "equalto", section.grouper)|groupby('subsection') %}
                <div class="panel-body">

                  {% if subsection.grouper %}
                    <div class="panel panel-default panel-inner">
                      <div class="panel-heading" data-toggle="collapse" href="#collapse-{{ subsection.grouper }}">
                        <h4 class="panel-title">
                          {{ subsection.grouper }} <span class="caret"></span>
                        </h4>
                      </div>
                    <div id="collapse-{{ subsection.grouper }}" class="panel-collapse collapse">
                  {% endif %}

                  {% for var in subsection.list %}
                    <div id="{{ var.name }}" class="panel-body variable-display">
                      <div class="form-group">
                        <a tabindex="0" role="button" class="help-icon" data-toggle="popover" data-trigger="focus" data-content="{{ var.message }}" data-placement="auto"><span class='glyphicon glyphicon-question-sign'></span></a>
                        <label for="input-@{{ var.name }}">@{{ var.name }}</label>
                        <input class="form-control" id="input-@{{ var.name }}" aria-describedby="help-block-@{{ var.var_name }}" value="{{ var.output }}" data-var="@{{ var.name }}">
                      </div>
                    </div>
                  {% endfor %}

                  {% if subsection.grouper %}
                    </div></div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
<!--
    <div class="panel-body" style="padding-left: 10%">
        <p>You can also use panels inside of other elements that have
        a defined with and height.</p>
        <p>You'll have to be responsible for making sure your controls accessible.</p>
    </div>
-->
  </div>
</div>

  <!--  iframe containing layout page -->
<!--
  <iframe src="{{ url_for('static', filename='layout.html') }}" width="100%" class="layout">
    <p>Your browser does not support iframes.</p>
  </iframe>
-->

  <!--  tool panel -->
<!--
  <div id="config-panel">
    <h4 class="category-title">{{ category }}</h4>

    {% for section in vars|selectattr("category", "equalto", category)|groupby('section') %}

    <div class="panel panel-default panel-outer">
      <div class="panel-heading" data-toggle="collapse" href="#collapse-{{ section.grouper }}">
        <h4 class="panel-title">{{ section.grouper }} <span class="caret"></span></h4>
      </div>
      <div id="collapse-{{ section.grouper }}" class="panel-collapse collapse">
        {% for subsection in section.list|selectattr("section", "equalto", section.grouper)|groupby('subsection') %}
          <div class="panel-body">

            {% if subsection.grouper %}
              <div class="panel panel-default panel-inner">
                <div class="panel-heading" data-toggle="collapse" href="#collapse-{{ subsection.grouper }}">
                  <h4 class="panel-title">
                    {{ subsection.grouper }} <span class="caret"></span>
                  </h4>
                </div>
              <div id="collapse-{{ subsection.grouper }}" class="panel-collapse collapse">
            {% endif %}

            {% for var in subsection.list %}
              <div id="{{ var.name }}" class="panel-body variable-display">
                <div class="form-group">
                  <a tabindex="0" role="button" class="help-icon" data-toggle="popover" data-trigger="focus" data-content="{{ var.message }}" data-placement="auto"><span class='glyphicon glyphicon-question-sign'></span></a>
                  <label for="input-@{{ var.name }}">@{{ var.name }}</label>
                  <input class="form-control" id="input-@{{ var.name }}" aria-describedby="help-block-@{{ var.var_name }}" value="{{ var.output }}" data-var="@{{ var.name }}">
                </div>
              </div>
            {% endfor %}

            {% if subsection.grouper %}
              </div></div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
-->
{% endblock %}
