{% extends "private.html" %}

{% block title %}
    Builder - Home
{% endblock %}

{% block main %}
  <div class="wrapper">
    <!-- pulls content from get_layout() function -->
    {{ get_html('home', { 'username':user_name() } )|safe }}
    
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h4>Saved Themes</h4>
          </div>
          <table class="table" id="saved-themes-list">
            {% if themes %}
              {% for theme in themes %}
                <tr>
                  <td class='col-md-8'><p class="theme-name-list-item">{{ theme.name }}</p></td>
                  <td class='col-md-2 text-right'>
                    <button class="btn btn-default load-theme-btn" data-value="{{ theme.id }}">Load</button>
                  </td>
                  <td class='col-md-2 text-right'>
                    <button class="btn btn-link delete-theme-btn" data-value="{{ theme.id }}">Delete</button>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td class='col-md-12'><p class="theme-name-list-item">You haven't built any themes yet.</p></td>
              </tr>
            {% endif %}
          </table>
          <div class="panel-footer clearfix">
            <button class="btn btn-primary pull-right" id="new-theme-btn">Start a Theme</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
